//- Rough Draft of all page elements

doctype html
html
  include includes/head.pug
  link(rel='stylesheet', href='./styles.css', type='text/css')
  body
    header
      include includes/navbar.pug
    main.container.bg-light.border.rounded.w-50.mx-auto
        h1.text-center #{title}
        img.mx-auto.d-block(src=poster alt='movie poster' width='185' height='278')
        //- Change rating into star rating using CSS
        div.d-flex
          p.w-50.text-center #{rating}
          if watched
            p.w-50.text-center="Watched"
          else
            p.w-50.text-center="Not watched"
        p.text-center #{review}
        //- Add a button to take the user to the streaming service 
    include includes/footer.pug