doctype html
html(lang='en')
  include includes/head.pug
  header 
    include includes/navbar.pug
  body 
    maim.container
      h1.text-center Movie Roulette
      div.text-center.mt-4
        div.btn-group(role='group' arial-label='Basic radio toggle button')
          if type === 'watchList'
            label.btn.btn-secondary.watchList.active
              input.btn-check(type='radio' name='options' value='watchList')
              |  My Saved List
          else
            label.btn.btn-secondary.watchList
              input.btn-check(type='radio' name='options' value='watchList')
              |  My Saved List
          if type === "movie"
            label.btn.btn-secondary.movie.active
              input.btn-check(type='radio' name='options' value="movie" checked)
              |  Movie
          else
            label.btn.btn-secondary.movie
              input.btn-check(type='radio' name='options' value="movie")
              |  Movie
          if type === "tv"
            label.btn.btn-secondary.tv.active
              input.btn-check(type='radio' name='options' value="tv" checked)
              |  TV Show
          else
            label.btn.btn-secondary.tv
              input.btn-check(type='radio' name='options' value="tv")
              |  TV Show
          if type === "either"
            label.btn.btn-secondary.either.active
              input.btn-check(type='radio' name='options' value="either" checked)
              |  All
          else
            label.btn.btn-secondary.either
              input.btn-check(type='radio' name='options' value="either")
              |  All
      if subheading
        div.bg-light.border.rounded.w-50.mx-auto.mt-5.card
          h3.text-center.mt-3 #{subheading}
          div
            img.mx-auto.d-block(src=poster, alt='poster' height='417' width='278')
            div.d-flex.justify-content-center.mt-2
                if rating >= 7.5
                  p.mx-4.rating.bg-success.text-white #{rating}
                else if rating <= 4
                  p.mx-4.rating.bg-danger.text-white #{rating}
                else if rating === 'null'
                  p.mx-4.text-secondary No Rating
                else
                  p.mx-4.rating.bg-warning.text-dark #{rating}
                p.mx-4.text-secondary #{tmdbType}
                p.mx-4.text-secondary Year: #{year}
            p.w-75.mx-auto.text-center #{plot}
            div.btn-group.btn-group-toggle.d-flex.mt-3.w-50.h-50.mx-auto.justify-content-center
              label.btn.btn-danger.mx-1.rounded.ynbutton
                input.btn-check(type="radio" name="yesNo" value=tmdbType)
                |  ðŸ‘Ž
              a(class="btn btn-success mx-1 rounded ynbutton" href="random/"+id role="button") ðŸ‘
      else
        div.text-center
          h3.init #{init}
    script(src="/js/randDisplay.js")
  include includes/footer.pug

