// Cheng Lin
// Result page for movie picker on interested movie or show

doctype html
html
  include includes/head.pug
  header
    include includes/navbar.pug
  main.container
    body
      div.d-flex.flex-column.mx-auto
        div.card
          div.d-flex.flex-column
            div.d-flex.flex-column.flex-lg-row.justify-content-between
              h3.card-title.mx-auto.mx-lg-0 #{data.title}
                if year
                |  (#{data.year})
              div.mx-auto.mx-lg-0
                if saved === true
                  button.btn.btn-outline-dark.me-lg-2(disabled) In Your List
                else
                  button.btn.btn-outline-dark.me-lg-2.addToList(onclick='addToList(' + JSON.stringify(data) + ',' + JSON.stringify(source) + ')') Add to Watch List
            div.d-flex.flex-lg-row.flex-column.align-content-stretch
              img.d-block.m-2.mx-auto.mx-lg-0(src=data.poster alt='poster' height='417' width='278')
              div.ratio.ratio-16x9.m-2.align-self-xxl-stretch
                iframe.embed-responsive-item(src=trailer title='trailer' allowfullscreen)
            div.d-flex.flex-row.flex-wrap
              if source.length !== 0
                each item in source
                  a.m-1.btn.btn-secondary(href=item.sourceUrl role='button') #{item.sourceName}
              else
                .alert.alert-warning
                  | This title is unavailable on streaming platforms
        div
          input.btn.btn-primary.mt-2.back(type="button" value="Go Back")
      script(src="/js/randDisplay.js")
  include includes/footer.pug