// Tram Vuong
// Display search results

doctype html
html
  include includes/head.pug
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src= "js/addToWatchList.js")
  body
    header
      include includes/navbar.pug
    main.container
      h2 #{heading}
      ol#results
        if results.length != 0
          section.text #{subheading}
            each item, index in results
              p
              .container-md
                .card.mx-auto.h-100
                  .row.g-0
                    .col-md-3
                      img.img-fluid(src=item.poster)
                    .col-md-9
                      .card-body
                        //- Display the type of the title on the top right corner
                        if item.type === 'Movie'
                          .type-bar
                            | Movie
                            i.bi-film 
                        else if item.type === 'TV series'
                          .type-bar
                            | TV show
                            i.bi-tv
                        else
                          .type-bar
                            i.bi-patch-question No type information
                        h3.card-title #{item.name} 
                          //- Display year if present
                          if item.year
                            |  (#{item.year})
                        //- Display short plot
                        .card-wrapper
                          div(onclick='addToWatchList(' + JSON.stringify(item) + ', ' + index + ')')
                            i(id='heart-' + index, class='bi-heart')
                            |  Add to Watch List  
                            span(id='add-result-' + index)
                          .card-text
                            | #{item.plot}
                            br
                          //- Display sources
                          .sources-bar
                            if item.sources.length !== 0
                              each source in item.sources
                                a.btn.btn-secondary(href=source.sourceUrl role='button' aria-pressed='true') #{source.sourceName}
                            else
                              .alert.alert-warning
                                | This title is unavailable on streaming platforms
        else
          .alert.alert-warning
            | No movie or TV show found from your search query
    include includes/footer.pug
