// Tram Vuong
// Display search results

doctype html
html
  include includes/head.pug
  body
    header
      include includes/navbar.pug
    main.container
      h2 #{heading}

      ol#results
        if results.length != 0
          section.text #{subheading}
            each item in results
              li
                | Title: #{item.name}
                ul
                  li Id: #{item.id}
                  li Type: #{item.type}
                      each source in item.sources
                        li Name: #{source.sourceName}, URL: #{source.sourceUrl}
        else
          div.alert.alert-warning
            | No movie or TV show found from your search query
    include includes/footer.pug
